{% sw_extends '@Storefront/storefront/page/account/order/line-item.html.twig' %}

{% block page_checkout_item_info %}
    <div class="col cart-item-info">
        {{ block('page_checkout_item_info_inner') }}
    </div>
{% endblock %}

{% block page_checkout_item_total_price %}
    <div class="col-2 cart-item-total-price">
        {{ block('page_checkout_item_total_price_wrapper') }}

        {% block page_account_order_line_item_price_label %}
            <div class="cart-item-tax-price-label">
                {% if context.taxState == "gross" %}
                    {{ "checkout.cartHeaderTaxIncludeVat"|trans|sw_sanitize }}
                {% else %}
                    {{ "checkout.cartHeaderTaxExcludeVat"|trans|sw_sanitize }}
                {% endif %}
            </div>
        {% endblock %}
    </div>
{% endblock %}

{% block page_checkout_item_remove %}{% endblock %}
