{% sw_extends '@Storefront/storefront/page/checkout/confirm/confirm-item.html.twig' %}

{% block page_checkout_aside_item_quantity %}
    <div class="checkout-aside-item-link-quantity">

        {% if lineItem.quantity and lineItem.type != "promotion" %}
            {{ "checkout.cartHeaderQuantity"|trans }}: {{ lineItem.quantity }}
        {% endif %}

    </div>
{% endblock %}

{% block page_checkout_aside_item_remove_form %}{% endblock %}
