{% sw_extends '@Storefront/storefront/layout/cookie/cookie-permission.html.twig' %}

{% block layout_cookie_permission_inner %}
    <div
        class="cookie-permission-container"
        data-cookie-permission="true">

        <div class="cookie-permission-inner">
            {% block layout_cookie_permission_inner_content %}
                <div class="cookie-permission-content">
                    {{ "cookie.message"|trans({
                        '%url%': path('frontend.cms.page', { id: config('core.basicInformation.privacyPage') })
                    })|raw }}
                </div>
            {% endblock %}
            {% block layout_cookie_permission_inner_button %}
                <div class="cookie-permission-actions ml-3">
                    {% block layout_cookie_permission_inner_button_deny %}
                        <span class="cookie-permission-button js-cookie-permission-button pr-1">
                            <button
                                type="submit"
                                class="btn btn-sm btn-secondary">
                                {{ "cookie.deny"|trans|sw_sanitize }}
                            </button>
                        </span>
                    {% endblock %}
                    {% block layout_cookie_permission_inner_button_configuration %}
                        <span class="js-cookie-configuration-button">
                            <button
                                type="submit"
                                class="btn btn-sm btn-primary">
                                {{ "cookie.configure"|trans|sw_sanitize }}
                            </button>
                        </span>
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}
