.mm-announcement-box {
  --mm-announcement-background-color: $color-theme-100;
  --mm-announcement-text-color: $body-color;
  --mm-announcement-background-hover-color: $color-theme-300;
  --mm-announcement-button-text-color: $white;
  --mm-announcement-button-color: $primary;
  --timer-color: $white;
  --timer-bg-color: $black;
}
