{% block component_product_listing_layout_switcher %}
  <div class="layout-switcher" data-layout-switcher="true">
      <div class="layout layout--active" data-layout="grid">
          <svg class="crw-icon">
              <use xlink:href="#icon_grid"></use>
          </svg>
      </div>

      <div class="layout" data-layout="list">
          <svg class="crw-icon">
              <use xlink:href="#icon_list"></use>
          </svg>
      </div>
  </div>
{% endblock %}
