<div id="contacts-pane" class="contacts-pane">
  {% block utilities_offcanvas_close %}
    <button class="btn btn-block offcanvas-close js-offcanvas-close sticky-top">
      {% block utilities_offcanvas_close_icon %}
        {% sw_icon 'x' style { 'size': 'sm' } %}
      {% endblock %}
    </button>
  {% endblock %}

  <div class="contacts-pane-content mt-0 mb-5">
    {{ context.salesChannel.customFields.contactsOffcanvas|raw }}

    {% block element_form_contact_form_form %}
      {% sw_include '@Storefront/storefront/layout/offcanvas-contact-form.html.twig'
        with {
          action: 'frontend.form.contact.send',
          submitText: 'contact.formSubmit'
        }
      %}
    {% endblock %}
  </div>
</div>
